{
  "graphicsPath": "../graphics-js",
  "templatePath": "../dailygraphics-templates",
  // leave driveFolder blank to create new sheets in the same folder as their templates
  "driveFolder": "1yTfWruRmKoJwEwepuwxZBkiKdvJ3Mw8E",
  "s3": {
    "live": {
      "bucket": "apps.stlpublicradio.org",
      "prefix": "dailygraphics/graphics"
    },
    "stage": {
      "bucket": "stlpr-stg.s3.amazonaws.com",
      "prefix": "dailygraphics/graphics"
    }
  },
  "analyticsID": ""
}
