<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title><%= slug %></title>
  <% if (typeof stylesheet == "string") { %>
  <style>
  <%= stylesheet %>
  </style>
  <% } else { %>
  <link rel="stylesheet" href="/style.css">
  <% } %>
</head>
<body class="preview-page <%= deployed ? "deployed" : "" %>">
  <header class="toolbar">
    <a class="back hide-deployed" aria-label="Back to graphic index" href="/">&laquo;</a>

    <h1 class="title"><%= slug %></h1>
    
    <select class="breakpoint" aria-label="Preview width">
      <option value="mobile" selected>Mobile (360px)</option>
      <option value="desktop">Desktop (663px)</option>
      <option value="desktop-sidebar">Desktop + Sidebar (678px)</option>
      <option value="inset">Inset (317px)</option>
      <option value="inset-sidebar">Inset + Sidebar (324px)</option>
      <option value="full-width">XL (1010px)</option>
      <option value="fluid">Fluid</option>
    </select>
    
    <% if (typeof sheet != "undefined") { %>
    <a target="_blank" class="edit-sheet button" href="https://docs.google.com/spreadsheets/d/<%= sheet %>/edit#gid=0">
      <div aria-hidden="true" class="inline-svg">
        <%= await t.includeStatic("../static/icons/baseline-folder_shared-24px.svg") %>
      </div>
      <span class="tooltip">Sheet</span>
    </a>
    <% } %>

    <button class="refresh-sheet hide-deployed">
      <div aria-hidden="true" class="inline-svg">
        <%= await t.includeStatic("../static/icons/baseline-autorenew-24px.svg") %>
      </div>
      <span class="tooltip">Refresh sheet</span>
    </button>

    <a target="_blank" class="prod-link button hide-deployed"
      href="http://<%= config.s3.bucket %>/<%= config.s3.prefix %>/<%= slug %>/preview.html">
      <div aria-hidden-="true" class="inline-svg">
        <%= await t.includeStatic("../static/icons/baseline-open_in_browser-24px.svg") %>
      </div>
      <span class="tooltip">View in production</span>
    </a>

    <span class="spacer hide-deployed"></span>

    <button class="show-duplicate hide-deployed" aria-pressed="false">
      <div aria-hidden="true" class="inline-svg">
        <%= await t.includeStatic("../static/icons/baseline-create_new_folder-24px.svg") %>
      </div>
      <span class="tooltip">Duplicate this</span>
    </button>

    <button class="deploy-graphic hide-deployed">
      <div aria-hidden="true" class="inline-svg">
        <%= await t.includeStatic("../static/icons/baseline-cloud_upload-24px.svg") %>
      </div>
      <span class="tooltip">Deploy to production</span>
    </button>

  </header>

  <div class="copy shade">
    <form method="POST" action="./duplicate">
      <label for="slug">Duplicate as:</label>
      <input id="slug" name="slug" required>
      <button class="submit">Duplicate</button>
    </form>
  </div>

  <div class="preview-container" data-width="mobile">
    <div data-pym-loader data-child-src="./index.html" id="preview">Loading...</div>
  </div>
  
  <hr>

  <section class="metadata">

    <h2>Embed code</h2>
    <p>This will add a full-width graphic, with a link to the graphic below (in case the viewer can't see the graphic). Copy this into the HTML Source of the story in Core Publisher where you'd like the graphic to appear.</p>
    <p>Core Publisher's max story width is 663px, or 678px if the sidebar is enabled.</p>
    <textarea
      class="embed-code copy-on-click"
      readonly="readonly"
      rows="6"
      cols="80"
      aria-label="Embed code"
    ><%=
`<p data-pym-loader data-child-src="http://apps.stlpublicradio.org/dailygraphics/graphics/{{slug}}/" id="responsive-embed-{{slug}}"> Loading... </p> <script src="https://pym.nprapps.org/npr-pym-loader.v2.min.js"></script><p><em><strong> <a href="http://apps.stlpublicradio.org/dailygraphics/graphics/{{slug}}?mode=childlink&utm_medium=app&utm_campaign=storyredirect">Don't see the graphic above? Click here.</a></em></strong></p>`
.replace(/\</g, "&lt;")
.replace(/\>/g, "&gt;")
.replace(/\{\{slug\}\}/g, slug) %></textarea>


<h3>Inset embed code</h3>
    <p>This will add an inset graphic, with a link to the graphic below (in case the viewer can't see the graphic). Copy this into the HTML Source of the story in Core Publisher where you'd like the graphic to appear.</p>
    <h5>Right</h5>
    <textarea
      class="embed-code copy-on-click"
      readonly="readonly"
      rows="6"
      cols="80"
      aria-label="Embed code"
    ><%=
`<p class="wysiwyg-asset-image-wrapper inset" data-pym-loader data-child-src="http://apps.stlpublicradio.org/dailygraphics/graphics/{{slug}}/" id="responsive-embed-{{slug}}"> Loading... </p> <script src="https://pym.nprapps.org/npr-pym-loader.v2.min.js"></script><p class="wysiwyg-asset-image-wrapper inset" ><em><strong> <a href="http://apps.stlpublicradio.org/dailygraphics/graphics/{{slug}}?mode=childlink&utm_medium=app&utm_campaign=storyredirect">Don't see the graphic above? Click here.</a></em></strong></p>`
.replace(/\</g, "&lt;")
.replace(/\>/g, "&gt;")
.replace(/\{\{slug\}\}/g, slug) %></textarea>
<h5>Left</h5>
    <textarea
      class="embed-code copy-on-click"
      readonly="readonly"
      rows="6"
      cols="80"
      aria-label="Embed code"
    ><%=
`<p class="wysiwyg-asset-image-wrapper left" data-pym-loader data-child-src="http://apps.stlpublicradio.org/dailygraphics/graphics/{{slug}}/" id="responsive-embed-{{slug}}"> Loading... </p> <script src="https://pym.nprapps.org/npr-pym-loader.v2.min.js"></script><p class="wysiwyg-asset-image-wrapper left" ><em><strong> <a href="http://apps.stlpublicradio.org/dailygraphics/graphics/{{slug}}?mode=childlink&utm_medium=app&utm_campaign=storyredirect">Don't see the graphic above? Click here.</a></em></strong></p>`
.replace(/\</g, "&lt;")
.replace(/\>/g, "&gt;")
.replace(/\{\{slug\}\}/g, slug) %></textarea>

<h3>XL embed code</h3>
    <p>This will add a graphic that stretches beyond the edges of the story on a large enough screen, with a link to the graphic below (in case the viewer can't see the graphic). Copy this into the HTML Source of the story in Core Publisher where you'd like the graphic to appear. <strong>Do not use this option unless you've consulted the graphic's creator.</strong></p>
    <textarea
      class="embed-code copy-on-click"
      readonly="readonly"
      rows="6"
      cols="80"
      aria-label="Embed code"
    ><%=
`<p class="wysiwyg-asset-image-wrapper full" data-pym-loader data-child-src="http://apps.stlpublicradio.org/dailygraphics/graphics/{{slug}}/" id="responsive-embed-{{slug}}"> Loading... </p> <script src="https://pym.nprapps.org/npr-pym-loader.v2.min.js"></script><p class="wysiwyg-asset-image-wrapper full" ><em><strong> <a href="http://apps.stlpublicradio.org/dailygraphics/graphics/{{slug}}?mode=childlink&utm_medium=app&utm_campaign=storyredirect">Don't see the graphic above? Click here.</a></em></strong></p>`
.replace(/\</g, "&lt;")
.replace(/\>/g, "&gt;")
.replace(/\{\{slug\}\}/g, slug) %></textarea>
<br/>

<hr>


    <% 
    if (typeof COPY != "undefined") { 
      var m = s => (COPY.metadata && COPY.metadata[s]) || `__${s.toUpperCase()}__`;
    %>
    <h2>Copyedit e-mail</h2>

    <p>
      Note: if you have a <var>metadata</var> tab in your sheets for this graphic, it will be used to fill in the blanks below.

    <textarea 
      class="copyedit-email copy-on-click"
      readonly="readonly"
      rows="<%= 16 + Object.keys(COPY.labels).length * 3 %>"
      aria-label="Copyedit e-mail"
    >
This graphic accompanies <%= m("author") %>'s story, running <%= m("time") %>, about <%= m("subject") %>.

Story URL (not yet published): 
http://news.stlpublicradio.org/post/<%= m("seamus_id") %>

Expected run date: <%= m("time") %>

Primary graphics contact: <%= "user" in config ? config.user.displayName : "__GRAPHICS_CONTACT__" %>
Primary editorial contact: <%= m("editorial_contact") %>

---- GRAPHIC <%= slug %> ----

Spreadsheet URL: https://docs.google.com/spreadsheets/d/<%= sheet %>/edit#gid=0
Production URL: https://apps.stlpublicradio.org.org/dailygraphics/graphics/<%= slug %>/preview.html
<% Object.keys(COPY.labels).forEach(key => __p += `\n${key}: ${COPY.labels[key]}\n`); %>
    </textarea>
    <% } %>

  </section>

  <% if (!deployed) { %>
  <script type="module" src="/parentPage.js"></script>
  <% } %>
  <script src="https://pym.nprapps.org/npr-pym-loader.v2.min.js"></script>
  <script>
// this is here so that it still works on deployed pages
var preview = document.querySelector(".preview-container");
var breakSelect = document.querySelector("select.breakpoint");

breakSelect.addEventListener("change", function() {
  var breakpoint = this.value;
  preview.setAttribute("data-width", breakpoint);
  window.location.hash = breakpoint;
});

if (window.location.hash) {
  var w = window.location.hash.replace(/#/, "")
  preview.setAttribute("data-width", w);
  breakSelect.value = w;
}

  </script>
</body>
</html>
